/* STYLES */



/* TEXT */

h1 {
    color: red;
}

/* BODY */

body {
    margin: 0;
}

/* WRAPPER */

.wrapper {
    padding: 10px;
}

/* BANNER */

.banner {
    background: url("https://wallpaperaccess.com/full/2311863.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    padding-bottom: 250px;
    max-height: 1080px;
}