/* STYLES */



/* TEXT */

h1 {
    color: red;

    margin: 0;
}

/* BODY */

body {
    margin: 0;
}

ul {
    margin: 0;
}

/* WRAPPER */

.wrapper {
    padding: 10px;
}

/* HEADER */

.header {
    height: 60px;
    width: 100%;
    background: green;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

/* BANNER */

.banner {
    background: url("https://wallpaperaccess.com/full/2311863.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    box-sizing: border-box;
    padding-bottom: 600px;
}

/* SECTION 1 */

.section-1 {
    display: flex;
}

.section-1 h1 {
    margin: 0 auto;
}
